section.work
    .wrapper
        .row
            .card.card--big
        .row
            .card.card--small
            .card.card--small.card--offset
        .row
            .row__sub
                .card.card--medium
                a(href="#").resources View more
